<form action="{{url_for('index')}}" method="POST">

    Emp_ID = <input type="text" name="emp_id"><br>
    UserName = <input type="text" name="username"><br>
    from_route = <input type="text" name="fromroute"><br>
    to_route = <input type="text" name="toroute"><br>



    <button type="submit" name="Create">Create</button>
    <button type="submit" name="Update">Update</button>
    <button type="submit" name="Delete">Delete</button>
    <button type="submit" name="Truncate">Truncate</button>
    <button type="submit" name="overtime">Overtime</button>
    <br><br><br><br>
    <input type="text" name="s_eid" id="s_eid" placeholder="Please Enter Employee ID ">
    <button type="submit" name="Search">Search</button>

</form>

<br>
<br>
<br>
<br>

{% if search_result %}
    <div>
        Search Result :- <br>
        {{search_dict_result}}
    </div>
{% else %}
        Search Not Clicked
{% endif %}



<h3>Table Data</h3>
<table border="2">
    <thead>
        <th>Emp_ID</th>
        <th>UserName</th>
        <th>From_route</th>
        <th>to_route</th>

    </thead>
    {% for element in data %}
    <tbody>
        <td>{{element.emp_id}}</td>
        <td>{{element.username}}</td>
        <td>{{element.fromroute}}</td>
        <td>{{element.toroute}}</td>
    </tbody>
    {% endfor %}
    

</table>
